<h1>Computer: {{ computer.serial_number }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<p>Serial Number: {{ computer.serial_number }}<br>
   Manufacturer: {{ computer.manufacturer }}<br>
   Comment: {{ computer.comments }}</p>

<form action="edit">
    {% csrf_token %}
    <input type="submit" value="Edit computer" />
</form>

<form action="delete_computer">
    {% csrf_token %}
    <input type="submit" value="Delete computer" />
</form>

<form action="../">
    {% csrf_token %}
    <input type="submit" value="Back" />
</form>
